.dnd-library-wrapper .editor-item .meta.type-calaméo {
  background-image: url('icons/icon-calameo-15.png');
}
.scald-menu .add-buttons .add-calameo {
  background: url('icons/icon-calameo-29-inverted.png') 50% 50% no-repeat;
}
.scald-menu .add-buttons .add-calameo:hover {
  background-image: url('icons/icon-calameo-29.png');
}
